@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Gamja Flower', cursive;
}

#frame{
    width: 800px;    
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#header{
    margin: 30px;
}

#header h1{
    font-size : 70px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

#phonebookinput p{
    margin-left: 100px;
}

#inputnum table {
    width: 650px;
    height: 70px;
    margin: 0 auto;
    padding : 10px;
    
}


#inputnum table td{    
    vertical-align: top;
}
#inputnum input[type=text]{
    width: 120px;
    margin-left: 10px;
    margin-right : 10px;
}


#inputnum select{
    width : 100px;
    margin-left: 10px;
    margin-right : 10px;
}

#inputnum input[type=submit]{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    margin-right : 10px;
}


#showlist table{
    width: 600px;
    margin: 0 auto;
    padding : 10px;
}

#tableheader th{
    padding : 5px;    
}


#tableheader th:nth-child(1){
    width: 10%;  
}

#tableheader th:nth-child(2){
    width: 20%; 
}

#tableheader th:nth-child(3){
    width: 30%;
}

#tableheader th:nth-child(4){
    width: 20%;
}

#tableheader th:nth-child(5){    
    width: 20%;
}



#tableheader{
    border-bottom: 1px solid black;
}

div.msg {
    color : red; 
    display: none;   
}

#showlist table{
    width: 600px;
    margin: 0 auto;
    padding : 10px;
}

#numlist td:nth-child(1) {
     width: 10%; 
}
#numlist td:nth-child(2){
    width: 20%; 
}
#numlist td:nth-child(3){
    width: 30%;
}

#numlist td:nth-child(4){
    width: 20%;
}
#numlist td:nth-child(5){    
    width: 20%;
}

#edit {
    width: 300px;
    height: 200px;
    background-color: lightpink;    
    
    position: absolute;
    top : 200px;
    left : 300px;
    border-radius: 20px;
}

#edit > h2{
    padding-top:17px;
    padding-bottom: 0px;
}

#edit table{
    margin-left: 30px;
}

#edit select{
    width: 100%;
}
